<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head'); %>
  </head>
  <body>
    <%- include('./header'); %>

   

    
    <div class="bgvdo">
     <div class="home-content">
			<h3>WELCOME TO HERALD COLLEGE</h3>
			<p>Herald College Kathmandu provides the best UK university education at most affordable fees. It offers Bachelor Degrees in IT and Business in direct partnership with the University of Wolverhampton, UK. Programmes that Herald College Kathmandu offers are flexible and have always aimed to foster a broader based knowledge.</p>
			<button class="btn btn-success text-white btn-lg"> Button </button>
		</div>
	</div></div>
 <br><br>
	<section class="container courses text-left">
		
		 <div class="container">
				<div class="d-flex">
				  
				  <hr class="my-auto flex-grow-1" />
				  
				  <div class="px-4 text-uppercase visit-text text-success" id="visit-text">
			Course offerings
		  </div>
		  
				  <hr class="my-auto flex-grow-1" />
				</div>
				<br />
		  
				<div class="card-columns">
			
      <% for(var i=0; i < courses.length; i++) { %>
		
			  
				  <div class="card  course-card ">
					<div class="card-header  card-dark display-6 text-dark text-center">
						<%= courses[i].name %>
					</div>
					
					<div class="card-body">
					  <div class="card-title text-center text-success display-1"><%= courses[i].tag %></div>
					  <div class="card-subtitle text-muted"> Course info :</div>
					  <p  class="card-text">
						<%= courses[i].description ?  courses[i].description.slice(0,100) : '' %>...
					  </span>
					  </p> 
					  
					  <a href="/courses/<%=courses[i].id%>"  class="btn btn-success btn-block">Read More </a>
					</div>
				  </div>
		  
			  
           <% } %>
              </div> 
			

		
	</section> 
	<section class="container">
		<a href = "/gallery" class="display-5 text-center text-success"><h4>Gallery</h4></a>
		<div class="row">
			<div class="gallery_user">
	
			  <% if (gallery)  {%>
	
			   
	
	
				<% for(var i=0; i<gallery[0].images.length && i<6; i++) {%>
	
					<a href="/images/gallery/<%= gallery[0].images[i] %>" data-lightbox="images"
				><img src="/images/gallery/<%= gallery[0].images[i] %>"
			  /></a>
				  
				
			   <% } %> <%}%>
	
			
			  
			</div>
			<a href="/gallery" class=" float-right ml-4 more-photos text-primary">More Photos</a>
		  </div>
		  <br>
		  <br>
		 

	</section>

	


	





    <footer><%- include('./footer'); %></footer>
  </body>
</html>
